@use 'variables' as *;

.selectinator {
  display: grid;
  grid-template-columns: 1fr 38px;
  position: relative;
  border-radius: $border-radius;
  box-shadow: $inputs;
  transition: box-shadow 0.2s;

  &.active {
    box-shadow: $input-focus;
    z-index: 11;
  }

  &-input {
    border-radius: $border-radius 0px 0px $border-radius;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    box-shadow: 0 0 0;

    &:focus { box-shadow: none;}
  }

  &-button {
    border-radius: 0px $border-radius $border-radius 0px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      height: 18px;
      stroke: $icons;

      path:first-child {
        animation: animatePath1Reverse 0.1s forwards;
      }

      path:last-child {
        animation: animatePath2Reverse 0.1s forwards;
      }
    }
    &[aria-expanded="true"] {
      svg {
        path:first-child {
          animation: animatePath1 0.2s forwards;
        }
  
        path:last-child {
          animation: animatePath2 0.2s forwards;
        }
      }
    }

    @keyframes animatePath1 {
      from { d: path('m7 15 5 5 5-5'); }
      to { d: path('m7 20 5-5 5 5'); }
    }

    // Define keyframes for the second path
    @keyframes animatePath2 {
      from { d: path('m7 9 5-5 5 5'); }
      to { d: path('m7 4 5 5 5-5'); }
    }

    @keyframes animatePath1Reverse {
      from { d: path('m7 20 5-5 5 5'); }
      to { d: path('m7 15 5 5 5-5'); }
    }

    @keyframes animatePath2Reverse {
      from { d: path('m7 4 5 5 5-5'); }
      to { d: path('m7 9 5-5 5 5'); }
    }
  }
  
  .lucide-chevrons-up-down path:first-child {
    animation: animateArrows 2s infinite alternate;
  }
  
  .lucide-chevrons-up-down path:last-child {
    animation: animateArrowsReverse 2s infinite alternate;
  }  

  &-options {
    position: absolute;
    top: -9999%;
    margin-top: 4px;
    background-color: #ffffff;
    box-shadow: $paper;
    width: 100%;
    border-radius: $border-radius;
    z-index: 2;
    overflow: hidden;
  }

  &.active &-options {
    top: 100%;
  }

  &-option {
    font-size: 12px;
    padding: 4px 12px;
    cursor: pointer;
  }

  &-option--disabled {
    color: #cccccc;
    cursor: not-allowed;
    pointer-events: none;
  }

  &-option:hover,
  &-option.highlighted {
    background-color: rgb(0, 123, 255);
    color: #ffffff;
  }
}

.page {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: $border-radius;
  box-shadow: $paper;
  transition: padding 0.3s, margin 0.3s, opacity 0.2s;
  //transition: all 5s;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;

  &::before {
    content: '';
    position: absolute;
    margin-right: 8px;
    font-size: 10px;
    font-weight: 500;
    left: 2px;
    top: -20px;
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }

  $carton-length: 18.3; // Change default size of carton
  $carton-width: 11.2;  // Remember to change the default 
  $carton-height: 13.4; // sizes the canvasUpdate.js
  $carton-expanded: 50%;
  $carton-condensed: 30%;

  .preview__content--expanded & {
    margin: 40px 40px 0;
    padding: 40px;

    &--a4 {
      width: 210mm;
      height: 297mm;
    }

    &--carton { padding: 0 0 $carton-expanded; }
    &--carton-front { width: calc($carton-expanded * ($carton-length / $carton-height)); }
    &--carton-side { width: calc($carton-expanded * ($carton-width / $carton-height)); }
  }

  .preview__content--condensed & {
    margin: 20px;
    padding: 12px;

    &--carton { padding: 0 0 $carton-condensed; }
    &--carton-front { width: calc($carton-condensed * ($carton-length / $carton-height)); }
    &--carton-side { width: calc($carton-condensed * ($carton-width / $carton-height)); }
  }

  &--carton {
    display: block;
    position: relative;
    height: 0;
  }

  .preview__content--header-hidden & {
    padding: 0;

    .print__header {
      display: none;
    }

    .label {
      border: 0 solid transparent;
    }
  }

  .scaler-wrapper { 
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    border-radius: $border-radius;

    &.rendering .scaler {
      transition: opacity 0.2s, transform 0s 0.2s;
      transform: scale(1) !important;
      opacity: 0;
    }

    &.rendering:before {
      content: '';
      display: block;
      width: 36px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      aspect-ratio: 1;
      --_g: no-repeat radial-gradient(farthest-side, rgba(101, 110, 129, 0.3) 94%,#0000);
      background:
        var(--_g) 0    0,
        var(--_g) 100% 0,
        var(--_g) 100% 100%,
        var(--_g) 0    100%;
      background-size: 40% 40%;
      animation: l38 2s infinite; 
    }

    @keyframes l38 {
      100% {background-position: 100% 0,100% 100%,0 100%,0 0}
    }
  }

  .scaler {
    transform-origin: top left;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: opacity 0.2s, transform 0s 0s;

    & > canvas, & > img {
      position: absolute;
      width: 100% !important;
      height: auto !important;
    }
  }

  &--carton-front .scaler {
    width: #{$carton-length}in;
    height: #{$carton-height}in;
  }

  &--carton-side .scaler {
    width: #{$carton-width}in;
    height: #{$carton-height}in;

  }

  &--hidden {
    opacity: 0 !important;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }
}

.print {
  display: block;

  .page--carton & {
    width: 100%;
    height: 100%;
    padding: 0.2in;
  }

  &__header {
    text-align: center;
  }

  h1, h2, h3 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 0.3in;
    font-weight: 800;
    display: flex;
    justify-content: center;;
  }

  h2 {
    font-size: 0.16in;
    font-weight: 700;
  }
  h3 {
    font-size: 0.14in;
    font-weight: 700;
  } 

  h1 img {
    height: 48px;
  }

  &__magenta {
    display: block;
    font-size: 10px;
    color: magenta;
    margin: 2px 0 8px;
  }

  .sku__part {
    padding: 1% 0;
    border: 2px solid transparent;
  }

  .preview--has-box & .sku__part {
    border: 2px solid #000000;
    border-right-width: 0;
    padding: 1%;

    &:last-child { border-right-width: 2px; }
  }
}

.label {
  width: 3.2in;
  height: 3.8in;
  border: 1px solid magenta;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4px;
  margin: 0 auto;

  &__brand {
    display: flex;
    height: 44px;
    text-align: center;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    width: auto;
    height: 48px;
  }

  &__description {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 4px 0;
    max-width: 100%;
    max-height: 40px;
    word-break: break-word;
    line-height: 18px;
    white-space: pre-wrap;
  }

  &__upc {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 72px;

    svg {
      width: 100%;
      position: absolute;
      bottom: -8px;
    }

    svg g:nth-of-type(3) text {
      font-size: 23px !important;
      transform: translate(2px, -2px) !important;
    }

    svg g:nth-of-type(5) text {
      font-size: 23px !important;
      transform: translate(-2px, -2px) !important;
    }
  }

  &__source {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 0 auto;
    font-weight: 600;
    line-height: 10px;
    z-index: 5;
  }

  &__info {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    height: 20px;
    margin: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__item {
    display: flex;
    gap: 4px;
    font-weight: 600;
  }

  &__item-master,
  &__item-sku {
    display: flex;
    height: 16px;
    align-items: center;

    &::before {
      margin-right: 4px;
    }
  }

  &__quantity {
    display: flex;
    height: 16px;
    align-items: center;

    &::before {
      content: 'Qty:';
      margin-right: 2px;
    }
  }

  &__install {
    display: flex;
    grid-template-columns: $install-badge 1fr $code-size;
    gap: 4px;
    font-size: 10px;
    width: 100%;
    justify-content: center;
    border: 1px solid #000000;
    padding: 2px;
    margin-bottom: 4px;
    display: none;
  }

  &__install--active { display: flex; }

    &__install-img {
      width: 24px;
      height: 24px;
      display: inline-block;
      border-radius: 100%;
      position: relative;

      svg {
        border-radius: 100%;
        stroke: #ffffff;
        background: #000000;
        overflow: hidden;
        fill: #000000;
      }
    }

    &__install-header {
      font-size: 12px;
      margin: 4px 0;
      text-transform: uppercase;
      font-weight: 700;
    }

    &__install-text {
      font-size: 9px;
      
      & > div {
        line-height: 12px;
      }
    }

    &__install-link {
      display: inline-block;
    }

    &__qr {
      width: $code-size;
      height: $code-size;
      background-color: #000000;
      margin-left: auto;
    }

  &__internal {
    position: relative;
    border: 1px solid #000000;
    padding: 2px;
    width: 100%;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    color: #000000;
  }

    &__datamatrix {
      width: $code-size;
      height: $code-size;
      background-color: #000000;
    }
    &__internal-text {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
    }

    //&__internal--light { color: #ffffff; }
    &__internal--dark {color: #000000; }
    &__internal svg { fill: currentColor; transition: fill 0.2s; }

  &__qr--active,
  &__datamatrix--active {
    background-color: transparent;
  }
}

.shipping-mark {
  padding: 0.3in;
  border: 3px solid magenta;
  position: relative;
  font-size: 1.2in;
  height: 100%;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .page[data-type="shipping-front"] & {
      font-size: 100%;
    }
  
    .page[data-type="shipping-side"] & {
      font-size: 90%;
    }
  }

  .page[data-type="shipping-front"] & {
    padding-right: 4.2in;
  }

  &__sku::before { content: "SKU: "; font-size: 80%; margin-right: 2% }
  .page[data-type="shipping-front"] &__sku::before { font-size: 100%; }

  &__sku {
    font-size: 80%;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 2% 0 auto;

    .page[data-type="shipping-front"] & {
      align-items: center;
    }

    .preview__content[data-height^="8"] & { font-size: 70% !important; }
    .preview__content[data-height^="7"] & { font-size: 65% !important; }
  }

  &__middle {
    margin-bottom: auto;
  }

  &__middle, &__bottom {
    font-size: 40%;
    font-weight: 400;
  }

  &__bottom {
    width: 35%;
    font-size: 30%;
  }

  &__logo-img {
    height: 100px;

    .preview__content[data-height^="8"] & { height: 80px; }
    .preview__content[data-height^="7"] & { height: 60px; }
  }

  &__meta {
    line-height: 170%;
    text-transform: uppercase;
  }

  &__description { 
    font-weight: 700; 
    text-transform: none;
  }

  &__source {
    text-transform: capitalize;
  }

  &__length::after,
  &__width::after,
  &__height::after {
    content: '\"';
  }

  &__nweight::after,
  &__gweight::after {
    content: ' lbs.';
  }

  &__upc, 
  &__tihi {
    border: 2px dashed rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    right: 0.5in;
    border-radius: 0.08in;
    width: 3.2in;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.2in;
    font-weight: 700;
    color: #B2B2B2;
    
    svg {
      stroke: #B2B2B2;
      width: 1in;
      height: 1in;
    }
  }

  &__upc {
    height: 3.8in;
    margin-top: -3.9in;

    .preview__content[data-height^="8"] & { margin-top: -3.5in; }
    .preview__content[data-height^="7"] & { margin-top: -3in; }
  }

  &__po {
    display: inline-block;
    border-bottom: 0.04in solid #000000;
    min-width: 3.5in;
  }

  &__tihi {
    height: 3.2in;
    margin-top: 0.6in;
    overflow: hidden;

    .preview__content[data-height^="8"] & { height: 3in; }
    .preview__content[data-height^="7"] & { height: 2.2in; margin-top: 1in; }

    img {
      object-fit: contain;
      height: 100%;
      cursor: pointer;
    }
  }

  .tihi-active {
    border: 0;
  }
  .tihi-active svg {
    display: none;
  }

  &__recycling {
    position: absolute;
    border: 4px solid #000000;
    width: 2.8in;
    bottom: 0.1in;
    right: 3.5in;
    border-radius: 0.1in;
    padding: 0.1in;

    font-size: 0.15in;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.1in;

    svg {
      width: 0.6in;
      height: 0.6in;
    }
  }

  &__prop65 {
    position: absolute;
    border: 4px solid #000000;
    width: 3.35in;
    bottom: 0.1in;
    right: 0.1in;
    border-radius: 0.1in;
    padding: 0.1in;
    font-size: 11px;
  }

  &__prop65-heading {
    display: flex;
    gap: 0.1in;
    align-items: center;
    font-size: 0.18in;
    font-weight: 600;
  }

  &__prop65-heading svg {
    width: 0.6in;
    height: 0.6in;
  }

  &__prop65-california,
  &__prop65-warn {
    display: block;
    line-height: 0.29in;
    text-align: center;
  }

  &__prop65-warn {
    font-size: 0.3in;
  }

  &__prop65-text {
    font-size: 0.14in;
  }

  &__prop65-text p {
    text-align: center;
    margin-top: 0.1in;
  }
}

.grab {
  opacity: 1;

  &__button {
    opacity: 0;
    display: flex;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgb(0, 123, 255);
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    top: 4px;
    right: 4px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: opacity 0.2s;
  }

  .preview--brenthaven &__button {background-color: #1B3E5D}
  .preview--vault &__button {background-color: #EE272F}
  .preview--gumdrop &__button {background-color: #01A4C5}

  &__button svg {
    stroke: #ffffff;
  }

  .page:hover &__button {
    opacity: 1;
  }
}

// Brenthaven Specific Styles
.preview--brenthaven {
  .label__item-master:before { content: "Item: "; }
  .label__item-sku::before { content: "/ SKU: "; }
}

// Gumdrop Specific Styles
.preview--gumdrop {
  .download__button { background-color: #01A4C5; }

  .label__item {
    flex-direction: column;
    gap: 0;
  }
  
  .label__item-master::before { content: "Item:"; }
  .label__item-sku:before { content: "SKU: "; }
  .label__quantity { margin-top: auto; }
  .page[data-type="polybag"] .label__info { margin-bottom: 4px; } 

  .label__upc {
    height: 60px;
  }
}

// Vault Specific Styles
.preview--vault {
  .download__button { background-color: #EE272F; }

  .label__info { margin-top: auto; }
  .label__item { display: grid; }
  .label__item-master::before { content: "Item: "; }
  .label__item-sku::before { content: "SKU: "; }
}

// Polybag Specific Styles
.page[data-type="polybag"] { 
  opacity: 1;

  &::before {
    content: 'Polybag';
  }
}

// MC Specific Styles
.page[data-type="master"] { 
  opacity: 1;

  .label__install {
    display: none;
  }

  &::before {
    content: 'Master Carton';
  }
}

// Polybag Specific Styles
.page.sapona[data-type="master"] { 
  &::before {
    content: 'Master Carton (Sapona)';
  }
}

// Inner Specific Styles
.page[data-type="inner"] { 
  opacity: 1;
  
  .label__install {
    display: none;
  }

  &::before {
    content: 'Inner Carton';
  }
}

// Shipping Mark (Front) Specific Styles
.page[data-type="shipping-front"] {
  &::before { content: 'Shipping Mark (Front) – Scaled'; }

  //&.canvas-scaled::before { content: 'Shipping Mark (Front) – Scaled'; }
  //&.canvas-full::before { content: 'Shipping Mark (Front) – Full Size'; }
}

// Shipping Mark (Side) Specific Styles
.page[data-type="shipping-side"] {
  &::before { content: 'Shipping Mark (Side) - Scaled'; }
}

.outlininator {
  outline: 4px solid rgba(0, 242, 255, 0.5);
  outline-offset: 2px;
  border-radius: 1px;
  transition: outline 0.2s;
  z-index: 10;
}

.shipping-mark__dims {
  opacity: 0;

  &--active {
    opacity: 1;
  }
}

.print-weight--empty,
.print-weight--empty::after {
  opacity: 0;
}

// Height Specific Styles
.preview__content[data-height="5"],
.preview__content[data-height^="5."],
.preview__content[data-height="6"],
.preview__content[data-height^="6."] {
  .shipping-mark__logo-img { height: 40px; }
  .shipping-mark__sku { 
    font-size: 0.2in !important; 
    margin-top: 0.1in !important;
    margin-bottom: 0.1in;
  }
  .shipping-mark__meta { font-size: 0.15in; }
  
  .shipping-mark__upc,
  .shipping-mark__tihi  {
    top: auto;
    bottom: 0.25in;
    margin-top: 0;
  }
  .shipping-mark__upc { right: 0.3in; }
  .shipping-mark__tihi { right: 3.5in; }
}