@use 'variables' as *;

body > main {
  display: grid;
  align-items: center;
  justify-content: flex-start;
}

.template {
  position: relative;
  display: grid;
  grid-template-columns: 340px 1fr;
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
}

.sidebar {
  background-color: #F7F8F9;
  border-right: 1px solid #E8E9EA;
  padding: 12px 20px;
  height: 100vh;
  overflow: auto;

  &__logo {
    margin-bottom: 12px;
    display: flex;
    padding: 0 8px;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;

    &-container {
      background-color: #292A2F;
      width: 36px;
      height: 36px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;

      img {
        width: 100%;
        filter: invert(100%); 
      }
    }
    
    &-title {
      font-size: 16px;
      font-weight: 700;
      color: #292A2F;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 -20px;
    padding: 8px 20px 8px 28px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    transition: color 0.2s;

    display: flex;
    align-items: center;
    gap: 4px;
    color: $text;
    
    svg {
      width: 15px;
      height: 15px;
      stroke: $icons;
      transition: stroke 0.2s;
    }

    &--active {
      color: rgba(0, 123, 255, 1);

      svg {
        stroke:rgba(0, 123, 255, 1)
      }
    }
  }

  &__form {
    margin: 12px 0 8px;
    display: none;
  
    &--active {
      display: block;
    }
  }

  .field {
    display: grid;
    font-size: 14px;
    margin: 0 0 10px;
    position: relative;

    &__group {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &__insert {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 12px;
      color: $icons;
    }
  }

  .field__label {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    font-weight: 600;  

    svg {
      width: 14px;
      height: 14px;
      margin-right: 8px;
      stroke: $icons;
    }
  }

  #sku, #item_master {
    text-transform: uppercase;
  }

  textarea {
    height: 48px;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .field__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 7px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    transition-duration: 0.2s;

    &:focus-visible {
      outline: 1px solid rgba(0, 123, 255, 0.5);
    }

    svg {
      width: 14px;
      height: 14px;
      stroke: #9197A5;
    }

    &:active svg { stroke:rgba(0, 123, 255, 0.5) };
  }

  .qrlink {
    display: flex;
    align-items: stretch;
    border-radius: $border-radius;
    box-shadow: $inputs;

    &__base {
      display: flex;
      align-items: center;
      font-size: 11px;
      border-right: 0;
      padding: 7px 8px 7px 8px;
      border-radius: $border-radius 0 0 $border-radius;
      background-color: rgba(0, 0, 0, 0.02);
      box-shadow: rgba(51, 65, 85, 0.05) 0px 0px 0px 1px;
      color: rgba($text, 0.6);
    }

    #qr_path {
      border-radius: 0 $border-radius $border-radius 0;
      background-color: #ffffff;
      border-left: 1px solid #E8EAEB;
      box-shadow: none;
      padding: 8px 8px 8px 12px;
      transition: all 0.1s;

      &:focus {
        box-shadow: $input-focus;
      }

      &[disabled] {
        color: rgba($text, 0.6);
      }
    }

    & + #qr_link {
      margin-top: 4px;
      display: none;
    }
  }

  .qr__toggle {
    svg:last-child { display: none; stroke:rgba(0, 123, 255, 0.5); }
    &--active svg:first-child { display: none; }
    &--active svg:last-child { display: block; }
  }

  .quantity {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .color-control {
    display: grid;
    grid-template-columns: 1fr 34px;
    gap: 4px;
  }

  .color-current {
    border: 1px solid $lines;
    border-radius: $border-radius;
    background-color: #ffffff;
    cursor: pointer;
  }

  .color-picker {
    position: absolute;
    background-color: #F7F8F9;
    padding: 20px;
    z-index: 5;
    border-radius: 4px;
    top: -9999px;
    right: 0;
    box-shadow: $paper;

    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
    transition: top 0s 0.4s, opacity 0.2s, transform 0.1s;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      right: 8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #E3E5E8 transparent;
    }
  }

  .color-picker--active {
    top: 85%;
    opacity: 1;
    transform: scale(1);

    transition: top 0s, opacity 0.1s, transform 0.1s;
  }

  .file {
    &__input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    &__visual {
      background-color: #ffffff;
      padding: 8px 8px ;
      box-shadow: $inputs;
      border-radius: $border-radius;
      display: flex; 
      font-weight: 400;
      margin-left: -4px;
      cursor: pointer;
      transition: box-shadow 0.2s;
    }

    &__text {
      font-size: 12px;
      font-weight: 600;
      color: $text;
      padding: 32px 20px;
      border: 1px dashed rgba($icons, 0.5);
      border-radius: $border-radius;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: border-color 0.2s;
    }

    &__text svg {
      width: 40px;
      height: 40px;
      stroke: $icons;
      transition: stroke 0.2s;
    }

    &__text span {
      font-size: 10px;
      font-weight: 400;
      color: $text;
    }

    .dragging &__label .file__visual,
    &__input:focus + .file__label .file__visual,
    &__label:hover .file__visual {
      box-shadow: $input-focus;
    }

    .dragging &__label .file__visual .file__text,
    &__input:focus + .file__label .file__visual .file__text,
    &__label:hover .file__visual .file__text {
      border-color:rgba(0, 123, 255, 0.5)
    }

    .dragging &__label .file__visual svg,
    &__input:focus + .file__label .file__visual svg,
    &__label:hover .file__visual svg {
      stroke:rgba(0, 123, 255, 0.5)
    }
  }

  .field--error {
    &::before {
      content: attr(data-error);
      position: absolute;
      font-size: 11px;
      right: 0px;
      font-style: italic;
      color: $error;
    }

    .input--error {
      box-shadow: $input-error;
    }
  }
}

.preview {
  display: block;
  overflow: hidden;
}

.preview__controls {
  background-color: #FFFFFF;
  border: 1px solid #E8E9EA;
  border-radius: 4px;
  margin: 12px 20px;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;

  svg {
    pointer-events: none;
  }

  input:checked + button, input:checked + .button {
    background-color: #656E81;
    border-color: rgba(0, 0, 0, 0.3)
  }

  .button {
    box-shadow: inset 0 1px 0 0 #fff3;
  }

  .visibility__form {
    margin: 0 auto 0 20px;
  }

  .download {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .download__name {
    font-size: 10px;
    font-weight: 500;
    font-style: italic;
    color: #9197A5;
    opacity: 0.8;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .download__button {
    display: flex;
    align-items: center;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    background-color: #1B3E5D;
    color: #ffffff;
    font-size: 12px;
    gap: 8px;
    line-height: 20px;
    padding: 6px 24px;

    svg {
      width: 16px;
      height: 16px;
      stroke: #ffffff;
    }
  }
}

.preview__content {
  display: flex;
  justify-content: center;
  overflow: scroll;
  height: calc(100vh - 80px);
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
  padding-bottom: 20px;
}