.sapona,
.custom-factory,
.factory {
  z-index: 1;

  .label {
    width: 6in;
    height: 4in;
  }

  .label__brand {
    margin-bottom: auto;
  }

  .label__logo {
    height: 48px;
  }

  &__content {
    display: grid;
    gap: 0;
    margin-bottom: auto;
    max-width: 4in;
    width: 100%;
  }

  &__meta {
    display: flex;
    align-items: center;
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 700;
    margin-right: 8px;
    text-transform: uppercase;
  }

  .label__item-master, 
  .shipping-mark__sku,
  .shipping-mark__sku::before {
    height: auto;
    font-size: 1rem !important;
  }

  .shipping-mark__sku{
    margin-top: 0;

    .sku__part{
      border-width: 1px;
      border-right-width: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .sku__part:last-child{
      border-right-width: 1px;
    }

    &::before{
      margin-right: 2%;
    }
  }

  .label__item-master {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .label__item-sku {
    font-size: 0.8rem;
    font-weight: 700;

    &:before {
      content: 'SKU: ';
    }
  }

  .label__description {
    font-weight: 400;
    text-align: left;
    margin: 0;
  }

  .shipping-mark__po {
    border-bottom: 0;
  }

  .label__upc {
    height: 100px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 4px;

    svg {
      bottom: unset;
      transform: translate(0,0) scale(1.2) !important;
    }
  }

  .shipping-mark__source {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -2px;
  }

  &__value,
  &__insert {
    font-size: 0.8rem;
  }

  &__carton::after {
    content: 'OF';
    margin-left: 1in;
  }

  &--hidden {
    opacity: 0 !important;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }
}

.custom-factory {
  
  .label {
    width: 3.937007874in;
    height: 2.9527559055in;
  }
  .label__item-master::before { content: 'Item:'; }
  .label__item-sku::before { content: 'SKU:'; }

  .label__brand {
    height: 28px;
    margin-bottom: 0;

    .print-logo {
      height: 28px;
    }
  }

  .sapona__meta,
  .sapona__label,
  .sapona__value,
  .sapona__insert,
  *::after,
  *::before { 
    font-size: 0.75rem !important; 
    line-height: 1rem !important;
  }


  .label__item-master,
  .shipping-mark__sku,
  .shipping-mark__sku::before {
    font-size: 0.8rem !important;
  }

  .label__upc {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 50%;

    svg {
      width: 100%;
      left: 50%;
      transform: translateX(-50%) scale(1) !important;
    }
  }

  .custom-factory__description {
    align-items: flex-start;
  }

  .label__datamatrix,
  .label__datamatrix > svg {
    width: 50px;
    height: 50px;
  }

  .sapona__carton::after, .custom-factory__carton::after {
    margin-left: 0.5in;
  }
}