//$text: rgba(0, 0, 0, 0.85);
//$icons: #7F7F7F;
$accent: #1B3F5C;
$text: #656E81;
$lines: rgba(0, 0, 0, 0.15);
$icons: #9197A5;
$preview-icons: #111;

$border-radius: 4px;

$paper: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(51, 65, 85, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 20px 25px -5px, rgba(0, 0, 0, 0.05) 0px 8px 10px -6px;

// Label
$code-size: 60px;
$install-badge: 24px;